.gitignore
*.env
ansible.cfg
files/*
vault.yml
hosts*
zabbix/zabbix-certs/*
docker/npm/.env
docker/npm/*.txt
docker/npm/.azure
docker/dozzle*
docker/quacomole-docker-compose*
docker/uptime-kuma*
docker/snipeit/*
vault/*
!vault/*.example
!vault/.vault-pass.sh
archive/*

